@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

html {
    background: #D35269;
    color: #202327;
    font-family: "Baloo Thambi 2";
}

::selection {
    background: #E28D9D;
}

#child {
    border: 5px solid #202327;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    text-align: center;
    background: #fff;
}

#footer {
    border-top: 2px solid black;
    margin-left: 50px;
    margin-right: 50px;
}

#footer a {
    margin: 5px;
    color: #202327;
    text-decoration: transparent solid underline;
    transition: all 0.2s ease;
}

#footer a:hover {
    color: #D35269;
}

h0 {
    font-size: 300%;
    font-weight: bold;
}

button {
    font-size: 120%;
    margin: 20px;
    font-family: "Baloo Thambi 2";
    padding: none;
    background-color: transparent;
    border: 2px solid #202327;
    border-radius: 10px;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #E28D9D;
}